
.mat-card{
  padding: 0;
  width: 80vw;
  height: 85vh;
  display: flex;
  flex-direction: row;

  .areaPhoto, .areaComments{
    width: 100%;
    height: 100%;
    padding: 15px;
  }

  .areaPhoto{
    padding: 0;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

  }
  

  .areaComments{  

    .header{
      height: 17%;
      min-height: 50px;
      overflow-y: auto;
    }

    .body{
      height: 65%;
      overflow-y: auto;
      padding: 5px;

      .photoUser{
        font-size: .7rem;      

        img{
          height: 30px;
          width: 30px;
          border-radius: 360px;
        }
      }

      .dateTime{
        font-size: .5rem;
        opacity: .7;
      }
    }

    .footer{
      height: 17%;
      min-height: 50px;
      padding: 15px;
    }
  }

}

@media screen and (max-width:720px) {

  .mat-card{
    flex-direction: column;

    .areaPhoto, .areaComments{
      width: 100%;
      height: 100%;
    }

  }

}