
<div mat-dialog-content class='mat-card'>

    <div class="areaPhoto">
      <img src="{{baseApiPhotos}}/{{data.photo}}">
    </div>

    <div class="areaComments">
      
      <div class="header border-bottom">
        {{data.description}} 
      </div>

      <div class="body">
        
        <div *ngIf="data.comments.length == 0" class="text-secondary text-center w-100">
          Sem comentários ainda. Seja o primeiro! <i class="bi bi-emoji-laughing"></i>
        </div>

        <div *ngFor="let comment of data.comments" class="mb-3">

          <div>
            <a class="photoUser" href="{{'user'|route:{'login':comment.user.login}  }}">
              <img src="{{baseApiAvatar}}/{{comment.user.avatar}}">
              <span class="fw-bold mx-2">@{{comment.user.login}}</span>                          
            </a>

            <small class="dateTime">{{comment.created_at | date: "dd/MM H:mm"}}</small> 
          </div>
          <div class="small mt-1">{{comment.comment}}</div>      
        </div>

      </div>

      <div class="footer">
        
        
        <div *ngIf="!session; else inputComment" class="text-center border-top">
          <i class='bi bi-exclamation-square-fill'></i> Faça o login para comentar
        </div>

        <ng-template #inputComment class="inputComment">
          <small>Deixe seu comentário </small>     

          <form (ngSubmit)="submit()" [formGroup]="formComment" #formDir="ngForm" id='formComment'>
            <div class="input-group ">            
              <input type="hidden" formControlName="id">
              <input matInput type='text' class="form-control" formControlName='comment' [(ngModel)]="commentInputValue">
              <button class="btn btn-outline-secondary" type="submit"> <i class="bi bi-send-plus-fill"></i> </button>               
            </div>
         
          </form>
          
        </ng-template>

      </div>

      
    </div>

</div>

