<h3 class="fw-bold">Sobre</h3>

<h3>InstAngular: v1.0.0</h3>
<p>Desenvolvido por: Kássio Douglas</p>
<p>GitHub: <a target="_blank" href="https://github.com/kassiodouglas">https://github.com/kassiodouglas</a></p>
<p>Projeto (frontend): <a target="_blank" href="https://github.com/kassiodouglas/instangular">https://github.com/kassiodouglas/instangular</a></p>
<p>Projeto (backend): <a target="_blank" href="https://github.com/kassiodouglas/instangularBackend">https://github.com/kassiodouglas/instangularBackend</a></p>


