.newUsersArea {
  min-height: 50vh;

  .photo {
    cursor: pointer;
    transition: all ease-in-out .3s;
    height: 100%;

    a {
      position: relative;

      .userName {
        transition: all ease-in-out .3s;
        position: absolute;
        bottom: 0px;
        background: #00000085;
        padding: 5px;
        border-radius: 5px;
        color: #fff;

      }
    }



    &:hover {
      transform: scale(1.01);

      a .userName {
        background: #000000cb;
      }
    }

    img {
      max-width: 100px;
      // height: 100px;
      width: 100%;
      border-radius: 5px;
    }
  }

}