.navbar {
  // width: 100vw;
  // height: 60px;
  // background: #fff;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // border-bottom: 1px solid #a0a0a0;
  // position: fixed;
  // top:0;

  .container {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;

    .searchArea {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 50px;
    }

  }

}

// @media screen and (max-width: 768px) {
//   .navbar .container .searchArea{

//     i{
//       cursor: pointer;
//       background-color: #d6d6d6;
//       padding: 5px 10px;
//       border-radius: 5px;
//     }

//     input{
//       display: none;
//     }

//   }
// }
